@charset "UTF-8";
section {
  padding: 7rem 0;
}
@media (max-width: 768px) {
  section {
    padding: 3rem 0;
  }
}
section .section-heading-wrapper {
  margin-bottom: 6rem;
}
@media (max-width: 768px) {
  section .section-heading-wrapper {
    margin-bottom: 4rem;
  }
}
section .section-heading-wrapper p {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  color: #737373;
  font-size: 1.2rem;
}
@media (max-width: 768px) {
  section .section-heading-wrapper p {
    font-size: 1rem;
  }
}
section .section-heading-wrapper .section-heading {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 56px;
  color: #111;
}
@media (max-width: 768px) {
  section .section-heading-wrapper .section-heading {
    margin-bottom: 37px;
  }
}
section .section-heading-wrapper .section-heading:before {
  content: "";
  position: absolute;
  top: calc(100% + 1.5rem);
  height: 5px;
  width: 2rem;
  background: #059fe1;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}
@media (max-width: 768px) {
  section .section-heading-wrapper .section-heading:before {
    top: calc(100% + 1rem);
  }
}
section#home {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url(/images/bg-home.svg);
}
@media (max-width: 991px) {
  section#home {
    height: auto;
    padding: 8rem 0 6rem;
  }
}
section#home h1 {
  margin-bottom: 36px;
  text-transform: uppercase;
}
section#home p {
  max-width: 700px;
  margin: 0 auto;
}
section#home a {
  margin: 36px auto 0;
  display: inline-block;
}
section#home .col-12 {
  text-align: center;
}
section#about {
  background: #fafafa;
}
section#about .col-lg-6 h3 {
  margin-bottom: 36px;
}
section#about .col-lg-6:nth-child(2) .content-wrapper {
  padding: 0 56px 0 0;
  font-weight: 400;
}
@media (max-width: 991px) {
  section#about .col-lg-6:nth-child(2) .content-wrapper {
    padding: 0;
  }
}
section#about .col-lg-6:nth-child(2) .content-wrapper p {
  color: #555;
  line-height: 1.6;
}
section#about .col-lg-6:nth-child(2) .content-wrapper a {
  display: inline-block;
  margin-top: 24px;
}
section#about .col-lg-6:nth-child(3) .content-wrapper {
  padding: 0 0 0 56px;
}
@media (max-width: 991px) {
  section#about .col-lg-6:nth-child(3) .content-wrapper {
    padding: 48px 0 0 0;
  }
}
section#projects .project-item .col-12 {
  display: flex;
  align-items: center;
}
section#projects .project-item .img-wrapper img {
  width: 100%;
  height: auto;
}
@media (max-width: 991px) {
  section#projects .project-item .project-info {
    text-align: center;
    padding: 0rem 0 2rem;
  }
}
section#projects .project-item .project-info h3,
section#projects .project-item .project-info p,
section#projects .project-item .project-info a {
  margin-bottom: 24px;
  display: inline-block;
}
section#projects .project-item .project-info p {
  color: #555;
}
section#contact {
  background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url(/images/bg-home.svg);
}
section#contact .section-heading-wrapper p {
  color: #333;
  font-weight: 400;
}
@media (max-width: 768px) {
  section#contact .section-heading-wrapper p {
    font-size: 1rem;
    line-height: 1.5;
  }
}

.main-btn {
  text-decoration: none;
  letter-spacing: 1px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  display: inline-block;
  border-radius: 5px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: normal;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.main-btn:focus {
  outline: 0 !important;
  box-shadow: none;
}
.main-btn:hover {
  transform: translateY(-3px);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.main-btn-primary {
  background-color: #059fe1;
  color: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.main-btn-primary:hover {
  background-color: #1eb8fa;
  color: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.main-btn-primary:active {
  background-color: #007cb0;
  color: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.main-btn-secondary {
  background-color: #737373;
  color: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.main-btn-secondary:hover {
  background-color: #8c8c8c;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.main-btn-secondary:active {
  background-color: #555;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.main-btn-ghost-primary {
  background: transparent;
  border: 1px solid #059fe1;
  color: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.main-btn-ghost-primary:hover {
  background-color: #1eb8fa;
  border-color: #1eb8fa;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.main-btn-ghost-primary:active {
  background-color: #007cb0;
  border-color: #007cb0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.main-btn-ghost-secondary {
  background: transparent;
  border: 1px solid #059fe1;
  color: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.main-btn-ghost-secondary:hover {
  background-color: #8c8c8c;
  border-color: #8c8c8c;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.main-btn-ghost-secondary:active {
  background-color: #555;
  border-color: #007cb0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.main-btn-link-primary {
  background: transparent;
  color: #059fe1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.main-btn-link-primary:hover {
  color: #1eb8fa;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.main-btn-link-secondary {
  background: transparent;
  color: #737373;
}
.main-btn-link-secondary:hover {
  color: #8c8c8c;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.main-btn.btn-size {
  width: 100%;
}
.main-btn.btn-size-sm {
  padding: 0.7rem 1.3rem;
  font-size: 1rem;
}
.main-btn.btn-size-md {
  padding: 1rem 3rem;
  font-size: 1rem;
}
.main-btn.btn-size-lg {
  padding: 1.2rem 5rem;
  font-size: 1.2rem;
}

.mouse-icon {
  position: absolute;
  bottom: 3rem;
  left: calc(50% - 12px);
  z-index: 10;
  width: 25px;
  height: 37px;
  border: 2px solid #333;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
}
.mouse-icon .mouse-wheel {
  height: 6px;
  margin: 2px auto 0;
  display: block;
  width: 3px;
  background-color: #333;
  border-radius: 50%;
  -webkit-animation: 1.6s ease infinite wheel-up-down;
  -moz-animation: 1.6s ease infinite wheel-up-down;
  animation: 1.6s ease infinite wheel-up-down;
}
@media (max-width: 991px) {
  .mouse-icon {
    display: none;
  }
}

@keyframes wheel-up-down {
  0% {
    margin-top: 2px;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    margin-top: 20px;
    opacity: 0;
  }
}
table {
  width: 100%;
}
.table-responsive {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

hr {
  margin: 1rem 0;
  width: 100%;
}

a {
  color: #059fe1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
small,
strong,
ul,
li {
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 3px;
}

h1,
.h1 {
  font-size: 3.7rem;
  font-weight: 900;
  text-transform: uppercase;
}
@media (max-width: 1199px) {
  h1,
.h1 {
    font-size: 4rem;
  }
}
@media (max-width: 991px) {
  h1,
.h1 {
    font-size: 3rem;
  }
}

h2,
.h2 {
  font-size: 2.7rem;
  font-weight: 700;
}
@media (max-width: 991px) {
  h2,
.h2 {
    font-size: 2.5rem;
  }
}
@media (max-width: 768px) {
  h2,
.h2 {
    font-size: 2em;
  }
}

h3,
.h3 {
  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: 0;
}
@media (max-width: 991px) {
  h3,
.h3 {
    font-size: 1.7rem;
  }
}
@media (max-width: 768px) {
  h3,
.h3 {
    font-size: 1.5rem;
  }
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

p, .p-regular {
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 0.02rem;
  line-height: 32px;
}
@media (max-width: 991px) {
  p, .p-regular {
    font-size: 1rem;
  }
}

.p-large {
  font-size: 1.3rem;
  line-height: 1.75;
}
@media (max-width: 991px) {
  .p-large {
    font-size: 1.15rem;
  }
}

.p-small {
  font-size: 0.9rem;
}

.overline-large {
  text-transform: uppercase;
  letter-spacing: 0.01rem;
  font-size: 1.25rem;
  font-weight: 300;
}
@media (max-width: 991px) {
  .overline-large {
    font-size: 1rem;
  }
}

.overline-regular {
  text-transform: uppercase;
  letter-spacing: 0.01rem;
  font-size: 1rem;
  font-weight: 300;
}

.overline-small {
  text-transform: uppercase;
  letter-spacing: 0.01rem;
  font-size: 0.9rem;
  font-weight: 300;
}
@media (max-width: 991px) {
  .overline-small {
    font-size: 0.8rem;
  }
}

.fw-100 {
  font-weight: 100 !important;
}

.fw-200 {
  font-weight: 200 !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-800 {
  font-weight: 800 !important;
}

.fw-900 {
  font-weight: 900 !important;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #111;
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
}

form {
  text-align: right;
}
form .input-wrapper {
  margin-bottom: 38px;
}
@media (max-width: 768px) {
  form .input-wrapper {
    margin-bottom: 24px;
  }
}
form input, form textarea {
  color: #737373;
  padding: 16px;
  width: 100%;
  border: 1px solid #ebebeb;
  font-size: 0.9rem;
  letter-spacing: 0;
  background: #f0f0f0;
  border-radius: 5px;
  font-weight: 600;
}
form input:focus, form textarea:focus {
  outline: 2px solid #ace8ff;
}
form label {
  letter-spacing: 1px;
  font-weight: 700;
  margin-bottom: 0;
  display: block;
  text-align: left;
  color: #737373;
  font-size: 0.9rem;
  margin-bottom: 4px;
}
form button {
  border: none;
}
@media (max-width: 768px) {
  form button {
    display: block;
    width: 100%;
  }
}

.form-container {
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  background: #fff;
  padding: 3rem;
  max-width: 750px;
  width: 95%;
  border-radius: 5px;
  margin: 0 auto 0 auto;
}
@media (max-width: 768px) {
  .form-container {
    padding: 1.5rem;
  }
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icons/icomoon.eot?giliyk");
  src: url("../fonts/icons/icomoon.eot?giliyk#iefix") format("embedded-opentype"), url("../fonts/icons/icomoon.ttf?giliyk") format("truetype"), url("../fonts/icons/icomoon.woff?giliyk") format("woff"), url("../fonts/icons/icomoon.svg?giliyk#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-example:before {
  content: "";
}

.icon-user:before {
  content: "";
}

.icon-linkedin:before {
  content: "";
}

.icon-code:before {
  content: "";
}

.icon-chevron-left:before {
  content: "";
}

.icon-chevron-right:before {
  content: "";
}

.icon-external-link:before {
  content: "";
}

.icon-copy:before {
  content: "";
}

.icon-map-marker:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}

.icon-envelope:before {
  content: "";
}

.icon-phone:before {
  content: "";
}

.icon-github:before {
  content: "";
}

.icon-youtube:before {
  content: "";
}

.icon-comment:before {
  content: "";
}

.icon-instagram:before {
  content: "";
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.ly-header {
  transition: all 0.3s;
  position: fixed !important;
  z-index: 999;
  left: 0;
  top: 0;
  right: 0;
  position: relative;
}
.ly-header .container {
  transition: all 0.3s;
}
@media (max-width: 991px) {
  .ly-header:before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 76px;
    background: #e7e7e7;
    cursor: pointer;
  }
}

.scrolling .ly-header {
  max-width: 100%;
  top: 0;
  transition: all 0.3s;
}
.scrolling .ly-header .container {
  width: 100% !important;
  max-width: 100% !important;
  padding: 0 !important;
  transition: all 0.3s;
}

.ly-footer {
  background: #000;
  color: #f2f2f2;
}
.ly-footer hr {
  margin: 0;
  padding: 0;
}
.ly-footer h3 {
  text-transform: uppercase;
  font-size: 1.25rem;
  margin-bottom: 16px;
}
.ly-footer .row:first-child {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
@media (max-width: 768px) {
  .ly-footer .row:first-child {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
}
.ly-footer .row:first-child p {
  max-width: 400px;
  line-height: 1.75;
}
.ly-footer .row:last-child {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media (max-width: 768px) {
  .ly-footer .row:last-child {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
.ly-footer .row:last-child p {
  font-size: 0.7rem;
  text-align: center;
}
.ly-footer .row:last-child p a {
  font-weight: 900;
  color: #e7e7e7;
}
.ly-footer .md-social {
  padding: 0;
  position: relative;
  background: transparent;
  flex-direction: row;
  box-shadow: none;
  transform: none;
  top: 0;
  left: 0;
  display: flex;
}
@media (max-width: 768px) {
  .ly-footer .md-social {
    margin-bottom: 42px;
  }
}
.ly-footer .md-social li a {
  font-size: 1.5rem;
  display: inline-block;
  color: #f2f2f2;
  padding: 0 !important;
  width: auto;
  height: auto;
  margin-right: 16px;
}
.ly-footer .md-social li a:hover {
  background: transparent;
  color: #e7e7e7;
}

.md-box {
  width: 100%;
  overflow: hidden;
}
.md-box .bg-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.md-card {
  width: 100%;
  -webkit-box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  -moz-box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  background: #fff;
}

.md-navbar {
  height: 90px;
  background: #fff;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 1rem 15px;
}
@media (max-width: 991px) {
  .md-navbar {
    padding: 0.5rem 15px;
    height: auto;
  }
}
.md-navbar .navbar-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.md-navbar .navbar-brand:hover .logo-wrapper {
  background-color: #1eb8fa;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.md-navbar .navbar-brand:hover .logo-wrapper img {
  filter: unset;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.md-navbar .navbar-brand .logo-wrapper {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 99px;
  display: flex;
  flex-direction: column;
  background-color: #059fe1;
  width: 50px;
  height: 50px;
  overflow: hidden;
  margin-right: 16px;
}
.md-navbar .navbar-brand .logo-wrapper img {
  width: 50px;
  height: 50px;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.md-navbar .navbar-brand span.p-regular {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 700;
  text-transform: uppercase;
  color: #333;
}
@media (max-width: 991px) {
  .md-navbar ul.navbar-nav {
    text-align: right;
    position: relative;
    top: 7px;
  }
}
.md-navbar ul.navbar-nav li a.nav-link {
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  color: #262626;
  padding: 2rem 1.7rem;
}
@media (max-width: 991px) {
  .md-navbar ul.navbar-nav li a.nav-link {
    padding: 1.3rem 0;
  }
}
.md-navbar ul.navbar-nav li a.nav-link:hover {
  color: #059fe1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.md-navbar .navbar-toggler {
  position: relative;
  padding: 0;
  border: 0;
  cursor: pointer;
  height: 22px;
}
.md-navbar .navbar-toggler:before {
  content: "";
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  position: absolute;
  z-index: 2;
  left: -10px;
  top: -10px;
  cursor: pointer;
}
.md-navbar .navbar-toggler:focus {
  outline: 0;
  box-shadow: none;
}
.md-navbar .navbar-toggler span {
  width: 22px;
  display: block;
  height: 3px;
  background: #262626;
  opacity: 1;
  left: 0;
  margin: 0;
  border-radius: 99px;
  position: relative;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.md-navbar .navbar-toggler span:nth-child(1) {
  top: 2px;
  transform: rotate(45deg);
}
.md-navbar .navbar-toggler span:nth-child(2) {
  display: none;
}
.md-navbar .navbar-toggler span:nth-child(3) {
  top: -1px;
  transform: rotate(-45deg);
}
.md-navbar .navbar-toggler.collapsed span {
  width: 30px !important;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.md-navbar .navbar-toggler.collapsed span:nth-child(1) {
  top: -6px;
  transform: none;
}
.md-navbar .navbar-toggler.collapsed span:nth-child(2) {
  top: 0;
  display: block;
}
.md-navbar .navbar-toggler.collapsed span:nth-child(3) {
  top: 6px;
  transform: none;
}
.md-navbar .social-nav {
  display: none;
  text-align: right;
  justify-content: flex-end;
  border-top: 1px solid #e7e7e7;
}
@media (max-width: 991px) {
  .md-navbar .social-nav {
    display: flex;
  }
  .md-navbar .social-nav li a {
    text-decoration: none;
    color: #111;
    font-size: 1.5rem;
    padding: 1rem 1rem 0.3rem;
    display: block;
  }
  .md-navbar .social-nav li a span {
    display: none;
  }
}

a[name] {
  top: -55px;
  position: absolute;
}
@media (max-width: 991px) {
  a[name] {
    top: -80px;
  }
}

.scrolling .md-navbar {
  border-radius: 0;
}

.md-badges {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.md-badges li {
  margin-bottom: 16px;
  margin-right: 16px;
}
@media (max-width: 991px) {
  .md-badges li {
    margin-bottom: 12px;
    margin-right: 12px;
  }
}
.md-badges li p {
  padding: 0.3rem 1.1rem;
  background: #e7e7e7;
  border-radius: 5px;
  font-weight: 600;
  margin: 0;
  font-size: 1rem;
  color: #555;
}
@media (max-width: 991px) {
  .md-badges li p {
    font-size: 0.9rem;
  }
}

.md-social {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  padding: 0.5rem;
}
@media (max-width: 991px) {
  .md-social {
    display: none;
  }
}
.md-social li span {
  display: none;
}
.md-social li a {
  font-size: 1.7rem;
  text-decoration: none;
  line-height: normal;
  color: #111;
  padding: 0.5rem;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 3px;
}
.md-social li a:hover {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background: #d9f9ff;
  color: #111;
}
.media {
  border-top: 5px solid;
}

/*# sourceMappingURL=main.css.map */
