.main-form {
  .m-auto{
    text-align: right;
  }
  .form-row {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 2rem;
    border: 1px solid #eee;
    label {
      background: #36363a;
      min-width: 60px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all ease 200ms;
      i {
        color: $white_c;
        font-size: 1.5rem;
        font-style: normal;
        line-height: 0;
        display: block;
      }
    }
    input {
      width: 100%;
      border: none;
      padding: 14px;
    }
    input:focus + label, textarea:focus + label {
      background: $primary-color!important;
      transition: all ease 200ms;

    }
    textarea {
      width: 100%;
      border: none;
      padding: 14px;
    }
  }
  button {
    width: max-content!important;
    border: 0;
    font-weight: 600!important;
    color: $white_c!important;
    @media (max-width:991px) {
      width: 100%!important;
      
    }
  }
}