@charset "utf-8";

.md-navbar {
  height: 90px;
  background: #fff;
  padding: 1rem 15px;

  @media(max-width: $bp-tablet) {
    padding: .5rem 15px;
    height: auto;
  }

  .container{
    border-bottom: 1px solid $c-f-primary-100;
    @media(max-width: $bp-tablet){
      border: none;
    }
  }

  .navbar-brand {

    &:hover {
      .logo-wrapper {
        background-color: $c-primary-400;
        @include smooth-transition($primary-transition);
      }
    }

    .logo-wrapper {
      font-family: $f-primary-bold;
      font-size: 2.25rem;
      position: relative;
      font-weight: 700;

      &:after {
        content: '';
        width: 8px;
        height: 8px;
        background: $c-primary-400;
        border-radius: 99px;
        position: absolute;
        bottom: 15px;
        right: -10px;
      }
    }

    span.p-regular {
      @include smooth-transition($primary-transition);
      font-weight: 700;
      text-transform: uppercase;
      color: $c-secondary-700;
    }
  }

  .navbar-collapse {
    &.show {}
  }

  ul.navbar-nav {
    @media(max-width: $bp-tablet) {
      text-align: right;
      position: relative;
      top: 7px;
    }

    li {
      a.nav-link {
        font-size: 1rem;
        color: #000;
        font-family: $f-primary-medium;
        padding: 2rem 1.7rem;

        @media(max-width: $bp-tablet) {
          padding: 1.3rem 0;
        }

        i {}

        &.active {}

        &:hover {
          color: $c-primary-500;
          @include smooth-transition($primary-transition);
        }
      }
    }
  }


  .navbar-toggler {
    position: relative;
    padding: 0;
    border: 0;
    cursor: pointer;
    height: 22px;

    &:before {
      content: '';
      width: calc(100% + 20px);
      height: calc(100% + 20px);
      position: absolute;
      z-index: 2;
      left: -10px;
      top: -10px;

      cursor: pointer;
    }

    &:focus {
      outline: 0;
      box-shadow: none;
    }

    span {
      width: 22px;
      display: block;
      height: 3px;
      background: $c-secondary-800;
      opacity: 1;
      left: 0;
      margin: 0;
      border-radius: 99px;
      position: relative;
      @include smooth-transition(all .2s ease);

      &:nth-child(1) {
        top: 2px;
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        display: none;
      }

      &:nth-child(3) {
        top: -1px;
        transform: rotate(-45deg);
      }
    }

    &.collapsed {
      span {
        width: 30px !important;
        @include smooth-transition(all .2s ease);

        &:nth-child(1) {
          top: -6px;
          transform: none;
        }

        &:nth-child(2) {
          top: 0;
          display: block;
        }

        &:nth-child(3) {
          top: 6px;
          transform: none;
        }
      }
    }
  }

  .social-nav {
    display: none;
    text-align: right;
    justify-content: flex-end;
    border-top: 1px solid #eee;

    @media(max-width:$bp-tablet) {
      display: flex;

      li {
        a {
          text-decoration: none;
          color: $c-secondary-900;
          font-size: 1.5rem;
          padding: 1rem 1rem .3rem;
          display: block;

          span {
            display: none;
          }

          i {}
        }
      }
    }
  }
}

//if website is onepage use <a name="hrefId">
//offset cause fixed navbar
a[name] {
  top: -55px; //based on navigation height (breakpoint)
  position: absolute;

  @media(max-width: $bp-tablet) {
    top: -80px; //based on navigation height
  }
}


.scrolling {
  .md-navbar {
    border-radius: 0;
  }
}