@charset "UTF-8";

.md-accordion {
  .accordion-item {
    border-bottom: 1px solid $c-dark-700;
    background: $c-dark-1000;
    border-radius: 0;
    .accordion-header {
      position: relative;
      margin-bottom: 0;
      button {
          cursor: pointer;
          @include transition($primary-transition);
        border-radius: 0;
        background: transparent;
        color: $white_c;
        padding: 2rem 4rem 2rem 2rem;
        font-size: 1.5rem;
        font-weight: 700;
        @media(max-width: $bp-tablet){
          font-size: 1rem;
          padding: 1rem 3rem 1rem 1rem;
        }
        &:focus {
          outline: 0 !important;
          box-shadow: none;
        }
        &:after {
          display: none;
        }
        &:hover{
            &:before{
                color: $white_c;
                @include transition($primary-transition);
            }
        }
        &:before {
            @include transition($primary-transition);
          font-family: "icomoon" !important;
          content: "\e900";
          position: absolute;
          right: 1.5rem;
          color: $white_c;
        }
        i {
          color: $white_c;
        }
        &.collapsed {
            &:hover{
                &:before {
                    color: $white_c;
                }
            }
          &:before {
            font-family: "icomoon" !important;
            content: "\e901";
            color: $c-dark-700;
          }
        }
      }
    }
    .accordion-collapse {
      .accordion-body {
        color: $c-dark-100;
        line-height: 1.75;
        padding: 0 4rem 2rem 2rem;
      }
    }
  }
}
