@charset "utf-8";

.md-badges {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  li {
    @media(max-width: $bp-tablet) {
      margin-bottom: 12px;
      margin-right: 12px;
    }

    margin-bottom: 16px;
    margin-right: 16px;

    p {
      padding: .3rem 1.1rem;
      background: $c-secondary-100;
      border-radius: 5px;
      font-weight: 600;
      margin: 0;
      font-size: 1rem;
      color: $c-secondary-600;

      @media(max-width: $bp-tablet) {
        font-size: .9rem;
      }
    }
  }
}