@charset "utf-8";

.md-navbar {
  height: 90px;
  background: #fff;
  box-shadow: $primary-box-shadow;
  padding: 1rem 15px;
  @media(max-width: $bp-tablet) {
    padding: .5rem 15px;
    height: auto;
  }

  .navbar-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &:hover {
      .logo-wrapper {
        background-color: $c-primary-400;
        @include smooth-transition($primary-transition);

        img {
          filter: unset;
          @include smooth-transition($primary-transition);
        }
      }

      span.p-regular {
        // @include smooth-transition($primary-transition);
        // color: $c-primary-500;
      }
    }

    .logo-wrapper {
      @include smooth-transition($primary-transition);
      border-radius: 99px;
      display: flex;
      flex-direction: column;
      background-color: $c-primary-500;
      width: 50px;
      height: 50px;
      overflow: hidden;
      margin-right: 16px;

      img {
        width: 50px;
        height: 50px;
        -webkit-filter: grayscale(100%);
        /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
      }
    }

    span.p-regular {
      @include smooth-transition($primary-transition);
      font-weight: 700;
      text-transform: uppercase;
      color: $c-secondary-700;
    }
  }

  .navbar-collapse {
    &.show{
    }
  }

  ul.navbar-nav {
    @media(max-width: $bp-tablet) {
        text-align: right;
        position: relative;
        top: 7px;
    }
    li {
      a.nav-link {
        font-size: 1rem;
        letter-spacing: 1px;
        font-weight: 700;
        text-transform: uppercase;
        color: $c-secondary-800;
        padding: 2rem 1.7rem;
        @media(max-width: $bp-tablet) {
          padding: 1.3rem 0;
        }

        i {}

        &.active {}

        &:hover {
          color: $c-primary-500;
          @include smooth-transition($primary-transition);
        }
      }
    }
  }


  .navbar-toggler {
    position: relative;
    padding: 0;
    border: 0;
    cursor: pointer;
    height: 22px;

    &:before {
      content: '';
      width: calc(100% + 20px);
      height: calc(100% + 20px);
      position: absolute;
      z-index: 2;
      left: -10px;
      top: -10px;

      cursor: pointer;
    }

    &:focus {
      outline: 0;
      box-shadow: none;
    }

    span {
      width: 22px;
      display: block;
      height: 3px;
      background: $c-secondary-800;
      opacity: 1;
      left: 0;
      margin: 0;
      border-radius: 99px;
      position: relative;
      @include smooth-transition(all .2s ease);

      &:nth-child(1) {
        top: 2px;
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        display: none;
      }

      &:nth-child(3) {
        top: -1px;
        transform: rotate(-45deg);
      }
    }

    &.collapsed {
      span {
        width: 30px!important;
        @include smooth-transition(all .2s ease);

        &:nth-child(1) {
          top: -6px;
          transform: none;
        }

        &:nth-child(2) {
          top: 0;
          display: block;
        }

        &:nth-child(3) {
          top: 6px;
          transform: none;
        }
      }
    }
  }
  .social-nav {
    display: none;
    text-align: right;
    justify-content: flex-end;
    border-top: 1px solid $c-secondary-100;
    @media(max-width:$bp-tablet) {
      display: flex;
      li {
        a {
          text-decoration: none;
          color: $c-secondary-900;
          font-size: 1.5rem;
          padding: 1rem 1rem .3rem;
          display: block;
          span {
            display: none;
          }
          i {

          }
        }
      }
    }
  }
}

//if website is onepage use <a name="hrefId">
//offset cause fixed navbar
a[name] {
  top: -55px; //based on navigation height (breakpoint)
  position: absolute;

  @media(max-width: $bp-tablet) {
    top: -80px; //based on navigation height
  }
}


.scrolling {
  .md-navbar {
    border-radius: 0;
  }
}