@charset "UTF-8";

.ly-header {
  transition: $primary-transition;
  position: fixed!important;
  z-index: 999;
  left: 0;
  top: 0;
  right: 0;
  position: relative;

  .container {
    transition: $primary-transition;
  }

  &:before {
    @media(max-width: $bp-tablet) {
      content: '';
      width: 100%;
      height: 1px;
      position: absolute;
      z-index: 2;
      left: 0;
      right: 0;
      top: 76px;
      background: #eee;
      cursor: pointer;
    }
  }
}

.scrolling {
  .ly-header {
    top: 0;
    transition: $primary-transition;

    .container {
      transition: $primary-transition;
    }
  }
}