.portfolio-card {
  padding: 0;
  overflow: hidden;
  // height: 300px;
  position: relative;
  margin-bottom: 2rem;
  .img-wrapper {
    position: relative;
    overflow: hidden;
    max-height: 200px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: relative;
      transition: all ease 150ms;
    }
    &:before{
      content: '';
      background: rgba(0,0,0,0.2);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 3;
      transition: all ease 150ms;
    }
  }
  .info {
    padding: 1rem;
    border-top: 1px solid #eee;
    h3{
      text-decoration: none;
      color: $secondary-font-color;
    }
  }
  // .info {
  //   padding: 16px;
  //   background: rgba(0,0,0, .8);
  //   z-index: 2;
  //   bottom: -50px;
  //   right: 0;
  //   left: 0;
  //   position: absolute;
  //   transition: all ease 250ms;
  //   h3 {
  //     color: $white_c;
  //     font-size: 1.1rem;
  //     margin: 0;
  //     text-transform: uppercase;
  //   }
  // }
  &:hover {
    .img-wrapper{
      &:before{
        transition: all ease 150ms;
        background: rgba(0,0,0,0);
      }
    }
    img {
      transform: scale(1.05, 1.05);
      transition: all ease 250ms;
    }
    .info {
      bottom: 0;
      transition: all ease 250ms;
    }
  }
}


.pf-link{
  display: flex;
  padding-bottom: 2rem;
}