//if website is onepage use <a name="hrefId">
//offset cause fixed navbar
a[name] {
  top: -55px; //based on navigation height (breakpoint)
  position: absolute;
  @media(max-width: 991px) {
    top: -80px; //based on navigation height
  }
}

.fab-btn {
  border: none;
  position: fixed;
  z-index: 15;
  top: 24px;
  right: 24px;
  width: 48px;
  height: 48px;
  background: #20202a;
  border-radius: 99px;
  box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%)!important;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  display: none;
  i {
    color: $white_c;
    font-size: 1.5rem;
  }

  @media(max-width: 991px){
    display: flex;
}
}

.close-btn {
  border: none;
  background: transparent;
  position: absolute;
  left: 16px;
  top: 16px;
  text-decoration: none;
  color: #20202a;
  display: none;
  font-size: 1.25rem;
  @media(max-width: 991px){
    display: block;
}
}

.show-me {
  position: fixed!important;
  left: 0!important;
  z-index: 999;
}