.main-counter {
  p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    strong {
      color: $primary-color;
      display: inline-block;
      margin-right: 1rem;
      font-size: 1.75rem
    }
    span {
      // color: $white_c;
    }
  }
}

.counter-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  .counter-item {
    strong{
      &:after {
        content: ' +'
      }
    }
  }
}