.space-x {
  &-normal {
    margin: 0 0.5rem;
  }
  &-medium {
    margin: 0 1rem;
  }
  &-large {
    margin: 0 1.5rem;
  }
}
.space-y {
  &-normal {
    margin: 0.5rem 0;
  }
  &-medium {
    margin: 1rem 0;
  }
  &-large {
    margin: 1.5rem 0;
  }
}
