//theme colors
$warn-color: #d33741;

//primary
$c-primary-50: #ffe7e0;
$c-primary-100: #ffbfb0;
$c-primary-200: #ff977f;
$c-primary-300: #fe6e4d;
$c-primary-400: #fd461c;
$c-primary-500: #e32c02;
$c-primary-600: #b22101;
$c-primary-700: #7f1700;
$c-primary-800: #4f0b00;
$c-primary-900: #200100;

//secondary
$c-secondary-50: #fffada;
$c-secondary-100: #fff1ad;
$c-secondary-200: #ffe87d;
$c-secondary-300: #ffdf4b;
$c-secondary-400: #ffd61a;
$c-secondary-500: #e6bc00;
$c-secondary-600: #b39200;
$c-secondary-700: #806900;
$c-secondary-800: #4d3f00;
$c-secondary-900: #1c1500;

//tertialy
$c-tertialy-50: #e3e6ff;
$c-tertialy-100: #b2b8ff;
$c-tertialy-200: #7f89ff;
$c-tertialy-300: #4d5aff;
$c-tertialy-400: #1d2bfe;
$c-tertialy-500: #0513e5;
$c-tertialy-600: #000eb3;
$c-tertialy-700: #000a81;
$c-tertialy-800: #000550;
$c-tertialy-900: #000120;

//font colors
$c-f-primary-50: #f8f0f2;
$c-f-primary-100: #d9d9d9;
$c-f-primary-200: #bfbfbf;
$c-f-primary-300: #a6a6a6;
$c-f-primary-400: #8c8c8c;
$c-f-primary-500: #737373;
$c-f-primary-600: #595959;
$c-f-primary-700: #404040;
$c-f-primary-800: #262626;
$c-f-primary-900: #081121;

//warn
$c-warn-500: #ff5100;

//other colors
$c-white: #fff;
$c-black: #000;

//breakpoints
$bp-phone-small: 576px;
$bp-phone: 768px;
$bp-tablet: 991px;
$bp-laptop: 1199px;
$bp-desktop: 1399px;

//fonts
$default-fs: 16px;
$f-primary-bold: "Poppins", sans-serif;
$f-primary-medium: "Poppins", sans-serif;
$f-primary-light: "Poppins", sans-serif;
// $f-secondary: "Times New Roman", sans-serif;

//transition
$primary-transition: all 0.3s;

//box shadow
$primary-box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

//border-radius
$primary-radius: 15px;
$secondary-radius: 25px;
$circle-radius: 999px;
$zero-radius: 0;