//theme colors
$warn-color: #d33741;

//primary
$c-primary-50: #d9f9ff;
$c-primary-100: #ace8ff;
$c-primary-200: #7dd9fe;
$c-primary-300: #4cc8fc;
$c-primary-400: #1eb8fa;
$c-primary-500: #059fe1;
$c-primary-600: #007cb0;
$c-primary-700: #00587f;
$c-primary-800: #00364f;
$c-primary-900: #00141f;

//secondary
$c-secondary-50: #f2f2f2;
$c-secondary-100: #e7e7e7;
$c-secondary-200: #bfbfbf;
$c-secondary-300: #a6a6a6;
$c-secondary-400: #8c8c8c;
$c-secondary-500: #737373;
$c-secondary-600: #555;
$c-secondary-700: #333;
$c-secondary-800: #262626;
$c-secondary-900: #111;
$c-secondary-1000: #000;

//other colors
$c-white: #fff;
$c-black: #000;

//breakpoints
$bp-phone-small: 576px;
$bp-phone: 768px;
$bp-tablet: 991px;
$bp-laptop: 1199px;

//fonts
$default-fs: 16px;
$f-primary: "Source Sans Pro", sans-serif;
$f-secondary: "Times New Roman", sans-serif;

//transition
$primary-transition: all 0.3s;

//box shadow
$primary-box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

//border-radius
$primary-radius: 15px;
$secondary-radius: 25px;
$circle-radius: 999px;
$zero-radius: 0;