@charset "UTF-8";

.main-btn {
  text-decoration: none;
  letter-spacing: 1px;
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
  display: inline-block;
  border-radius: 5px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: normal;
  @include smooth-transition($primary-transition);
  &:focus {
    outline: 0 !important;
    box-shadow: none;
  }
  &:hover{
    transform: translateY(-3px);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    @include smooth-transition($primary-transition);
  }
  &-primary {
    background-color: $c-primary-500;
    color: $c-white;
    @include smooth-transition($primary-transition);

    &:hover {
      background-color: $c-primary-400;
      color: $c-white;
      @include smooth-transition($primary-transition);
    }

    &:active {
      background-color: $c-primary-600;
      color: $c-white;
      @include smooth-transition($primary-transition);
    }
  }
  &-dark {
    background-color: #272727;
    color: $c-white;
    @include smooth-transition($primary-transition);

    &:hover {
      background-color: #272727;
      color: $c-white;
      @include smooth-transition($primary-transition);
    }

    &:active {
      background-color: #272727;
      color: $c-white;
      @include smooth-transition($primary-transition);
    }
  }

  &-secondary {
    background-color: $c-secondary-500;
    color: $c-white;
    @include smooth-transition($primary-transition);

    &:hover {
      background-color: $c-secondary-400;
      @include smooth-transition($primary-transition);
    }

    &:active {
      background-color: $c-secondary-600;
      @include smooth-transition($primary-transition);
    }
  }

  &-ghost {
    &-primary {
      background: transparent;
      border: 1px solid $c-primary-500;
      color: $c-white;
      @include smooth-transition($primary-transition);

      &:hover {
        background-color: $c-primary-400;
        border-color: $c-primary-400;
        @include smooth-transition($primary-transition);
      }

      &:active {
        background-color: $c-primary-600;
        border-color: $c-primary-600;
        @include smooth-transition($primary-transition);
      }
    }
    &-secondary {
      background: transparent;
      border: 1px solid $c-primary-500;
      color: $c-white;
      @include smooth-transition($primary-transition);

      &:hover {
        background-color: $c-secondary-400;
        border-color: $c-secondary-400;
        @include smooth-transition($primary-transition);
      }

      &:active {
        background-color: $c-secondary-600;
        border-color: $c-primary-600;
        @include smooth-transition($primary-transition);
      }
    }
  }

  &-link {
    &-primary {
      background: transparent;
      color: $c-primary-500;
      @include smooth-transition($primary-transition);
      &:hover {
        color: $c-primary-400;
        text-decoration: none;
        @include smooth-transition($primary-transition);
      }
    }
    &-secondary {
      background: transparent;
      color: $c-secondary-500;

      &:hover {
        color: $c-secondary-400;
        text-decoration: none;
        @include smooth-transition($primary-transition);
      }
    }
  }
  &.btn-size {
    width: 100%;
    &-sm {
      padding: 0.7rem 1.3rem;
      font-size: 1rem;
    }
    &-md {
      padding: 1rem 3rem;
      font-size: 1rem;
    }
    &-lg {
      padding: 1.2rem 5rem;
      font-size: 1.2rem;
    }
  }
}


//mouse

.mouse-icon {
  position: absolute;
  bottom: 3rem;
  left: calc(50% - 12px);
  z-index: 10;
  width: 25px;
  height: 37px;
  border: 2px solid $c-secondary-700;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  .mouse-wheel {
    height: 6px;
    margin: 2px auto 0;
    display: block;
    width: 3px;
    background-color: $c-secondary-700;
    border-radius: 50%;
    -webkit-animation: 1.6s ease infinite wheel-up-down;
    -moz-animation: 1.6s ease infinite wheel-up-down;
    animation: 1.6s ease infinite wheel-up-down;
  }
  @media(max-width: $bp-tablet) {
    display: none;
  }
}

@keyframes wheel-up-down {
  0% {
    margin-top: 2px;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    margin-top: 20px;
    opacity: 0;
  }
}

.theme-switcher {
  margin-left: 16px;
  &:before{
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background: $c-secondary-50;
    left: -8px;
    @media (max-width: $bp-tablet){
      display: none;
    }
  }
  position: relative;
  width: 56px;
  height: 56px;
  border: none;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: $bp-tablet){
    margin: 0 0 0 auto;
  }
  @include smooth-transition($primary-transition);
  i {
    @include smooth-transition($primary-transition);
    color: $c-secondary-800;
    font-size: 1.5rem;
    &.icon-sun {
      color: #fff;
    }
  }
  &:hover{
    @include smooth-transition($primary-transition);
    i {
      @include smooth-transition($primary-transition);
      color: $c-primary-600;
      &.icon-sun {
        color: #6b32cd;
      }
    }
  }
}

.btn-disabled{
  background: $c-secondary-200!important;
  color: $c-secondary-50!important;
  &:hover{
    background: $c-secondary-200!important;
    color: $c-secondary-50!important;
    cursor: pointer;
    transform: none!important;
    box-shadow: none!important;

  }
}