@charset "UTF-8";

form {
    text-align: right;
    .input-wrapper {
        margin-bottom: 38px;
        @media(max-width: $bp-phone){
            margin-bottom: 24px;
        }
    }
    input, textarea {
        color: $c-secondary-500;
        padding: 16px;
        width: 100%;
        border: 1px solid #ebebeb;
        font-size: .9rem;
        letter-spacing: 0;
        background: #f0f0f0;
        border-radius: 5px;
        font-weight: 600;
        &:focus {
            outline: 2px solid $c-primary-100;
        }
    }

    label {
        letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 0;
    display: block;
    text-align: left;
    color: $c-secondary-500;
    font-size: .9rem;
    margin-bottom: 4px;
    }
    button {
        border: none;
        @media(max-width: $bp-phone){
            display: block;
            width: 100%;
        }
    }
}


.form-container {
    box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
    background: #fff;
    padding: 3rem;
    max-width: 750px;
    width: 95%;
    border-radius: 5px;
    margin: 0 auto 0 auto;
    @media(max-width: $bp-phone){
        padding: 1.5rem;
    }
}