@charset "UTF-8";

h1,
h2,
h3,
h4,
h5,
h6,
p,
small,
strong,
ul,
li {
  position: relative;
}

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6{
  font-family: $f-primary-bold;
}

strong {
  font-family: $f-primary-bold;
}
h1,
.h1 {
  font-size: 5.5rem;
  @media (max-width: $bp-desktop) {
    font-size: 4rem;
  }
  @media (max-width: $bp-laptop) {
    font-size: 4rem;
  }
  @media (max-width: $bp-tablet) {
    font-size: 3rem;
  }
  @media (max-width: $bp-phone) {
    font-size: 2.5rem;
  }
}
h2,
.h2 {
  font-size: 2.7rem;
  font-weight: 600;
  @media (max-width: $bp-tablet) {
    font-size: 2.5rem;
  }
  @media (max-width: $bp-phone) {
    font-size: 2em;
  }
}
h3,
.h3 {
  font-size: 1.7rem;
  letter-spacing: 0;
  @media (max-width: $bp-tablet) {
    font-size: 1.7rem;
  }
  @media (max-width: $bp-phone) {
    font-size: 1.5rem;
  }
}
h4,
.h4 {
  font-size: 1.5rem;
}
h5,
.h5 {
  font-size: 1.25rem;
}
h6,
.h6 {
  font-size: 1rem;
}

p,.p-regular {
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.02rem;
  line-height: 32px;
  font-family: $f-primary-medium;
  @media(max-width: $bp-tablet){
    font-size: 1rem;
  }
}

.p-large {
  font-size: 1.3rem;
  line-height: 1.75;
  font-family: $f-primary-medium;
  @media (max-width: $bp-tablet) {
    font-size: 1.15rem;
  }
}

.p-small {
  font-size: 0.9rem;
  font-family: $f-primary-medium;
}

.overline-large {
  text-transform: uppercase;
  letter-spacing: 0.01rem;
  font-size: 1.25rem;
  font-weight: 300;
  font-family: $f-primary-medium;
  @media (max-width: $bp-tablet) {
    font-size: 1rem;
  }
}
.overline-regular {
  text-transform: uppercase;
  letter-spacing: 0.01rem;
  font-size: 1rem;
  font-family: $f-primary-medium;
  font-weight: 300;
}
.overline-small {
  text-transform: uppercase;
  font-family: $f-primary-medium;
  letter-spacing: 0.01rem;
  font-size: 0.9rem;
  font-weight: 300;
  @media (max-width: $bp-tablet) {
    font-size: 0.8rem;
  }
}

.f-primary-bold{
  font-family: $f-primary-bold;
}
.f-primary-medium{
  font-family: $f-primary-medium;
}
.f-primary-light{
  font-family: $f-primary-light;
}

//FONT-WEIGHT
//FYI
//f.e.: .fw-400 /// 400 = 400
$font-weights: (100, 200, 300, 400, 500, 600, 700, 800, 900);
@each $font-weight in $font-weights {
  .fw-#{$font-weight} {
    font-weight: #{$font-weight} !important;
  }
}
